<div class="container">
    <div class="row align-items-center justify-content-center" style="height: 100vh;">
      <div class="col-md-6">
        <div class="overlay"></div>
        <div class="card shadow">
          <div class="card-body p-5">
            <h3 class="card-title mb-4">Iniciar Sesion</h3>
            <form (ngSubmit)="onSubmit()">
              <div class="form-group form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="nombre_arroba" placeholder="Arroba" name="nombre_arroba" required>
                <label for="floatingInput">Arroba</label>
              </div>
              <div class="form-group form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" [(ngModel)]="contrasena" placeholder="Contraseña" name="contrasena" required>
                <label for="floatingInput">Contraseña</label>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <button type="submit" class="btn btn-lg btn-primary custom-button rounded-pill w-100 text-black">Iniciar Sesion</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p *ngIf="!registrado">¿No tienes una cuenta? <a class="text-primary text-decoration-none" routerLink="/signup">Regístrate</a></p>
                </div>
              </div>  
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>