.initials-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid white;
  }
  
  .initials {
    user-select: none;
  }
  