<div class="container-fluid text-center">
    <div class="row">
      <div class="col-2 col-md-3 border-end ">
        <div class="desaparecer container mt-5 sep col-2 col-md-3" style="position: fixed;">

        <a class="btn-canva" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample">
          <picture class="imagencontainer img-fluid">
            <img class="imagen" src="../../assets/ajolote-logo.png" alt="logo">
          </picture>
        </a>
          <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
              <button class="custom-button" [routerLink]="['/inicio', usuarioSesion?.id]">
                <p class="text"><img class="icon" src="../../assets/house-heart.svg">Inicio</p>
              </button>
            </div>
          </div>
          <div class="row mt-5 sep">
            <div class="col-12 d-flex justify-content-center">
              <button class="custom-button" [routerLink]="['/perfil', usuarioSesion?.id]">
                <p class="text"><img class="icon" src="../../assets/person.svg">Perfil</p>
              </button>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
              <button class="custom-button" [routerLink]="['/notificacion', usuarioSesion?.id]" (click)="recargarPagina()">
                <p class="text"><img class="icon" src="../../assets/bell.svg">Notificaciones</p>
              </button>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
              <button class="custom-button" [routerLink]="['/mensaje', usuarioSesion?.id]">
                <p class="text"><img class="icon" src="../../assets/envelope-open-heart.svg">Mensajes</p>
              </button>
            </div>
          </div>
          
          
          <div class="dialog-container" style="margin-right: 10px;">
            <div *ngIf="showDialog" class="dialog" style="border: 1px solid rgba(0, 0, 0, 0.622);border-radius: 50px; padding: 3px;">
              <button class="btn btn-light" style="border-radius: 50px;" (click)="cerrarSesion()">Cerrar sesión</button>
              <button (click)="cerrar()" class="tras"><mat-icon>close</mat-icon></button>
            </div>
            
            <button (click)="openDialog()" style="border: none; width: 100%; border: 1px solid rgba(0, 0, 0, 0.365); border-radius: 50px; margin-top: 10px;">
              <div class="cerrar-sesion">
                    <div class="imagencontainer-close img-fluid" *ngIf="foto; else inicial" >
                      <img style="border-radius: 50%;" class="imagen" [src]="usuarioSesion?.foto_perfil" alt="Avatar">
                    </div>
                    <ng-template #inicial>
                      <app-initials-avatar name="{{usuarioSesion?.nombre_usuario}}"></app-initials-avatar>
                    </ng-template>
                <div class="tras"><mat-icon>more_horiz</mat-icon></div> 
              </div>
            </button>
          </div>
        </div>
        
  
  
        <!-- EMPIEZA EL CANVA -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
              <picture class="imagencontainer img-fluid">
                <img class="imagen" src="../../assets/ajolote-logo.png" alt="logo">
              </picture>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body sep">
            <div class="container mt-5">
              <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                  <button class="custom-button" [routerLink]="['/inicio', usuarioSesion?.id]">
                    <p class="text"><img class="icon" src="../../assets/house-heart.svg">Inicio</p>
                  </button>
                </div>
              </div>
              <div class="row mt-5 sep">
                <div class="col-12 d-flex justify-content-center">
                  <button class="custom-button" [routerLink]="['/perfil', usuarioSesion?.id]">
                    <p class="text"><img class="icon" src="../../assets/person.svg">Perfil</p>
                  </button>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                  <button class="custom-button" [routerLink]="['/notificacion', usuarioSesion?.id]" (click)="recargarPagina()">
                    <p class="text"><img class="icon" src="../../assets/bell.svg">Notificaciones</p>
                  </button>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                  <button class="custom-button" [routerLink]="['/mensaje', usuarioSesion?.id]">
                    <p class="text"><img class="icon" src="../../assets/envelope-open-heart.svg">Mensajes</p>
                  </button>
                </div>
              </div>
             
  
            </div>
          </div>
          <div class="dialog-container">
            <div *ngIf="showDialog" class="dialog" style="border: 1px solid rgba(0, 0, 0, 0.622);border-radius: 50px; padding: 3px;">
              <button class="btn btn-light" style="border-radius: 50px;" (click)="cerrarSesion()">Cerrar sesión</button>
              <button (click)="cerrar()" class="tras"><mat-icon>close</mat-icon></button>
            </div>
            
            <button (click)="openDialog()" style="border: none; width: 100%; border: 1px solid rgba(0, 0, 0, 0.365); border-radius: 50px; margin-top: 10px;">
              <div class="cerrar-sesion">
                  <div class="imagencontainer-close img-fluid" *ngIf="foto; else inicial" >
                    <img style="border-radius: 50%;" class="imagen" [src]="usuarioSesion.foto_perfil" alt="Avatar">
                  </div>
                  <ng-template #inicial>
                    <app-initials-avatar name="{{usuarioSesion.nombre_usuario}}"></app-initials-avatar>
                  </ng-template>
                <div class="tras"><mat-icon>more_horiz</mat-icon></div> 
              </div>
            </button>
          </div>
          
        </div>
  
  
      </div>
        <div class="col-10 col-md-6 border-end container-notificacion">
            <div *ngFor="let notificacion of notificaciones">
              <div *ngIf="(notificacion.id_usuario !== usuario.id) && (notificacion.id_ajeno === usuario.id)" class="container-notificacion_texto">
                
                  <picture class="noti-img">
                    <img [src]="datosUser.foto_perfil" alt="">
                  </picture>
                  <div class="noti-text">
                  <label><strong (click)="direccionar(datosUser.id)"> {{ datosUser.nombre_usuario | titlecase  }} </strong>
                    hizo una interaccion de {{ notificacion.tipo_noti }} en una publicacion</label>
                    <p>A las {{ notificacion.fecha_notificacion | date: "HH:mm" }} minutos<mat-icon>date_range</mat-icon></p>
                  </div>
              </div>
                
            </div>
              
        </div>


        <div class="col ultima p-0">
          <div class="container m-0">
            <form (ngSubmit)="busquedadSeguidor()">
              <div class="container-buscador">
                <mat-icon id="icono">search</mat-icon>
                <input type="text" placeholder="Buscar seguidor..." id="buscador" name="seguidor" [(ngModel)]="seguidor"
                  (keydown.enter)="busquedadSeguidor()" />
              </div>
            </form>
            <div class="tendencia">
    
              <h3 class="tendencia-titulo">Que esta pasando?</h3>
    
              <mat-card class="card">
                <mat-card-header>
                  <mat-card-title class="card-titulo">
                    <h4>Tendencias</h4>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <ul>
                    <li class="card-lista" *ngFor="let palabra of palabrasMasRepetidas">{{ palabra }}</li>
                  </ul>
                </mat-card-content>
              </mat-card>
    
    
    
            </div>
            <nav aria-label="Footer" role="navigation" class="enlaces">
              <a href="">Politica de privacidad</a>
              <a href="">Politicas de Cookies</a>
              <a href="">Accesibilidad</a>
              <a href="">Terminos de servicios</a>
              <a href="">Informacion de Anuncios</a>
              <p>© 2023 X Corp.</p>
            </nav>
          </div>
        </div>
        </div>
    </div>
    
