html, body { height: 100%; }
body { margin: 0; font-family: 'Josefin Sans', sans-serif; font-size: 20px; background-color: rgb(249, 249, 249);}
h1 {font-size: 20px;}
h2{font-size: 18px;}
h3{font-size: 16px;}
h4{font-size: 14px;}
p{font-size: 14px;}
