.profile {
  display: flex;
  justify-content: center;

  &-header {
    margin-bottom: 20px;
  }

  &-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &-name {
    font-size: 24px;
    margin-top: 10px;
  }

  &-bio {
    color: #999;
  }

  &-stat {
    display: inline-block;
    margin-right: 20px;
  }
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  transition: transform 0.3s ease;
  transform: translateX(-100%);

  &.active {
    transform: translateX(0);
  }

  &-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;

      a {
        color: #333;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.toggle-sidebar {
  cursor: pointer;
  padding: 10px;
  background-color: #f5f5f5;
  text-align: center;
}

.main-content {
  width: 75%;
}



.stat-label {
  font-size: 18px;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
}


.imagen {
  height: 100%;
  width: 100%;
}

.imagencontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
}

.custom-button {
  width: 60%;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 100%;
  }
}

p {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  font-size: 25px;
  /* Puedes ajustar el tamaño de la letra según tus preferencias */
  line-height: 1;
  /* Ajusta este valor según el tamaño de la letra y el tamaño del botón */
  height: 100%;
}

.text {
  margin-left: 10px;
  /* Ajusta este valor según el espacio deseado entre el icono y el texto */
  display: flex;
  align-items: center;
  font-size: 100%;
}

.icon {
  width: 10%;
  margin-right: 10px;
  /* Ajusta este valor según el espacio deseado entre el icono y el texto */
}

.tweet-box {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;

}

.mensaje {
  width: 100%;
  order: 2;
}

.avatar {
  width: 90px;
  padding: 10px 0px;
  margin-right: 30px;
  order: 1;

  & img {
    width: 100%;
    height: 10vh;
    border-radius: 50%;
  }
}


input[type="text"] {
  width: 100%;
  margin: 30px 5px;
  padding: 2px;
  border: none;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    padding: 2px 5px;
  }

}

.upload-button {
  order: 1;
}

.publish-button {
  background-color: #91FAF9;
  border-color: #91FAF9;
  order: 2;

  &:hover,
  &:focus {
    background-color: #77D5D3;
    border-color: #77D5D3;
  }
}


.upload-button {
  display: none;
  /* Ocultar el botón de selección de archivo por defecto */
}

.upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;

  & svg {
    width: 16px;
    /* Ajusta el tamaño del icono según tus necesidades */
    height: 16px;
    fill: #555;
  }
}

.btn-canva {
  pointer-events: none;
}

.container-buscador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #999;
  border-radius: 20px;
  margin: 20px;
  padding: 0px 3px;
}

#buscador {
  background-color: transparent;
  margin: 3px;
  padding: 3px;

  &:focus {
    background-color: transparent;
  }
}

#icono {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: auto;
}

.tendencia {
  background-color: #999;
  border-radius: 20px;
  margin: 20px;

  &-titulo {
    color: white;
  }

  & mat-card:last-child:hover {
    background-color: #cdc9c9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #cdc9c9;
  }

  &-titulo {
    color: #333;
    font-size: 14px;
  }

  &-lista {
    text-align: left;
    color: black;
    font-size: 14px;
  }

  &-view {
    color: #333;
    font-size: 14px;
  }

  &-icono:hover {
    background-color: #77d5d394;
    border-radius: 40%;
  }
}

.enlaces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav {
  font-size: 14px;

  & p {
    padding: 5px;
    font-size: 14px;
  }

  & a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.publicacion {
  padding: 10px;

  &-interaccion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
  }

  &-imagen {
    margin: 0 auto;
    width: 320px;
    height: 170px;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.hrpubli {
  margin: 0;
  /* Elimina el margin */
}

@media screen and (max-width: 840px) {
  .desaparecer {
    display: none;
  }

  .btn-canva {
    pointer-events: all;
  }

  .ultima {
    display: none;
  }

  .publicacion {
    padding: 10px;

    &-interaccion {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
    }

    &-imagen {
      margin: 0 auto;
      width: 170px;
      height: 95px;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.btn-i {
  background-color: transparent;
  border: none;
}

.like {
  color: red;
}

#likeT {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  resize: none;
}

// .popup button {
//   padding: 10px 20px;
//   background-color: #4CAF50;
//   color: white;
//   border: none;
//   cursor: pointer;
//   margin-right: 10px;
// }
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 2px;
}

.popup button:hover {
  background-color: #77D5D3;
  border-radius: 40%;
}

// .popup button:last-child {
//   background-color: #f44336;
// }

.popup button:last-child:hover {
  border-radius: 40%;
  background-color: #d32f2f;
}

.cerrar-sesion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dialog-container {
  margin-top: 70%;
  margin-bottom: 20px;
  position: relative;

  & button {
    z-index: 1;
    background-color: transparent;

  }

}


.dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: -40px;
  left: 0;
  background-color: white;
  z-index: 2;
  align-items: center;
  width: 100%;
}

.tras {
  border: none;
}

// .dialog button {
//   margin-bottom: 10px;
// }




.btn-reblubbed {
  background-color: green;
  /* Otros estilos para el botón en verde */
}

.imagencontainer-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  & img {
    display: block;
    width: 80%;
  }
}

.eliminar-publicacion {
  & button {
    background-color: transparent;
    border: none;
  }
}